.vitrine {
    margin-top: 5em
}

.vitrine__categoria {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1.5em;
}

.vitrine__categoria__nome{
    color: var(--cinza-texto);
    font-weight: 700;
    font-size: 32px;
}

.vitrine__categoria__verTudo {
    background: url(../img/setinha.svg) no-repeat right;
    width: 95px;
    text-decoration: none;
    color: var(--azul);
    font-weight: 700;
}

.vitrine__produtos {
    display: flex;
    justify-content: space-between;
}

.vitrine__produtos__nome {
    font-weight: 500;
    color: var(--cinza-texto);
    margin: .5em 0;
}

.vitrine__produtos__preco {
    font-weight: 700;
    color: var(--cinza-texto);
    margin-bottom: .5em;
}

.vitrine__produtos__verProduto {
    text-decoration: none;
    font-weight: 700;
    color: var(--azul);
}

