.produtos {
    background-color: var(--cinza-login);
    padding: 3rem 0;
}


.produtos__cabecalho {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap:.5rem;
    flex-wrap: wrap;
}

.produtos__cabecalho h1 {
    font-size: 32px;
    font-weight: 700;
    color: var(--cinza-texto);
}

.produtos__cabecalho a {
    font-size: 14px;
    color: var(--branco);
    background-color: var(--azul);
    padding: 20px;
    text-decoration: none;
}

.produtos__lista {
    display: grid;
    grid-template-columns: repeat(6, calc(16.66% - 1rem));
    grid-template-rows: repeat(3, 1fr);
    column-gap: .5rem;
    row-gap: 3rem;
    justify-content: space-between;
    margin-top: 1.5rem;
}

.produtos__lista__item p{
    font-size: 14px;
    font-weight: 500;
    color: var(--cinza-texto);
}

.produtos__lista__item span {
    display: block;
    font-weight: 700;
    color: var(--cinza-texto);
    margin: 10px 0;
    
}

.produtos__lista__item img {
    width: 100%;
    margin-bottom: 0.5rem;
}

.rodape__produtos {
    margin-top: 0;
}

.produtos__lista__item {
    position: relative;
}

.item__config img {
    display: flex;
    width: 18px;
    height: 18px;
    margin: 0;
    padding: 10px;
}

.item__config__lixeira {
    top: 0;
    right: 35px;
    margin: 0; 
    position: absolute; 
}

.item__config__editar {
    top: 0;
    right: 0px;
    margin: 0;
    
    position: absolute; 
}


@media screen and (max-width: 1024px) {
    .produtos__lista {
        grid-template-columns: repeat(5, calc(20% - 1rem));
    }
}


@media screen and (max-width: 768px) {
    .produtos__lista {
        grid-template-columns: repeat(4, calc(25% - 1rem));
    }
}

@media screen and (max-width: 425px) {
    .produtos__lista {
        grid-template-columns: repeat(2, calc(50% - 1rem));
    }
}