.rodape {
    background-color: var(--azul-footer);
    margin-top: 4em;
}

.rodape__box {
    padding: 4em 0;
    display: grid;
    grid-template-columns: 25% 25% 50%;
    justify-content: space-between;
    align-items: flex-start;
}

.rodape__logoAlura {
    margin: 0;
}

.links__items a {
    text-decoration: none;
    color: var(--cinza-texto);
    font-weight: 500;
}

.links__items {
    margin-bottom: 25px;
}

.rodape__faleConosco {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.rodape__faleConosco__legenda {
    font-weight: 700;
    color: var(--cinza-texto);
}

.rodape__faleConosco input {
    margin: 1em 0;
}

.rodape__faleConosco input, textarea {
    border: none;
    box-shadow: 0px 1px  0  var(--sombra);
    padding: 2em 1em;
}

.rodape__button {
    width: 60%;
    color: var(--branco);
    background: var(--azul);
    border: none;
    padding: 1em 0;
    margin-top: 1em;
    font-weight: 300;
    cursor: pointer;
}

.desenvolvedor {
    margin: 2em 0;
}

.desenvolvedor h4 {
    color: var(--cinza-texto);
    font-weight: 500;
    font-size: 15px;
    text-align: center;
    margin-bottom: 0.4em;
}

@media screen and (max-width: 768px) {
    .rodape__box  {
        grid-template-areas: 
        "aluraLogo-links faleConosco";
        grid-template-columns: 40% 60%;
    }

    .rodape__logoAlura {
        grid-area: aluraLogo-links;
        height: max-content;
    }

    .rodape__links {
        grid-area: aluraLogo-links;
        margin-top: 4rem;
    }

    .rodape__faleConosco {
        grid-area: faleConosco;
    }
}
 
@media screen and (max-width: 425px) {
    .rodape__box {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 2em 0;
    }

    .rodape__links {
        margin: 2em 0;
        text-align: center;
        font-size: 18px;
    }
}